{% extends 'layout.twig' %}

{% block body %}
  <div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h3 class="font-bold text-lg tracking-wide">
        Grue
      </h3>
      <h1 class="font-black text-3xl tracking-wide py-4">
        Sorry, the LINK was not Found!
      </h1>
    </div>
  </div>
{% endblock %}
